body{
    background-color: blanchedalmond;
}
.lorem
{
    width: 50em;
}

.newClass
{
    background-color: chartreuse;
}

.lorem:hover
{
  
    background-color: cadetblue;
}

.lorem > pre
{
    cursor: pointer;
    font-size: 1em;
}

.lorem > pre:hover{
    color: crimson;
    font-size: 2em;
}